# cc
*.[soa]
*.so*

# autotools
build/
build-aux/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.status
configure
libtool
m4/
.deps/
.libs/
*.l[oa]
*.log
*.trs

# lcov
*.gcov
*.gcno
*.gcda
*.info

# ctags
tags

# editors
*~
*.swp

# built programs
*.gen
cashdumb
cashdump
fdecode
hdecode
hencode
hpack_arg
hpack_dump
hpack_mbm
hpiencode
fuzzdecode

# optional programs
godecode
ngdecode

# generated headers
.*.h
cpp_ignore
hpack.h
hpack_huf_dec.h
hpack_huf_enc.h
hpack_static_hdr.h

# manual pages
*.3
*.hex
*.out
*.src
*.txt
*2rst.rst

# generated RST manuals
cashpack.3.rst
hpack_encode.3.rst
hpack_error.3.rst

# test suite
cashpack.*/
failed-cashpack.*/
fuzz-corpus/
fuzz-seeds/
tst/src
cov.sh

# packaging
*.tar.gz
*.pc
*.spec
