# cmake
build/
CMakeFiles/
CMakeCache.txt
install_manifest.txt
*.cmake
Makefile

# autotools
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
inc/dbg.h
install-sh
libtool
ltmain.sh
m4/
missing
test-driver

# editors
*~
*.swp
