# cc
*.[soa]
*.so*

# autotools
build/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
test-driver
.deps/
.libs/
*.l[oa]
*.log
*.trs

# lcov
*.gcov
*.gcno
*.gcda
*.info

# ctags
tags

# editors
*~
*.swp

# built programs
hphidx
hphtbl
hdecode
hencode
hpack_arg
ngdecode

# generated headers
hpack.h
hpack_huf_idx.h
hpack_huf_tbl.h

# manual pages
*.3
hpe2rst.rst
